<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Metric</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/dashboard']" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product']" href="#">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/order']" href="#">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile']" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shop-card']" href="#">Shop-Card</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user-management']" href="#">User-Management</a>
        </li>

      </ul>

      <form class="d-flex">
        <button (click)="logOut()" class="btn btn-outline-primary dropdown-item" type="submit">Log out</button>
      </form>

    </div>
  </div>
</nav>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Address</th>
    <th>Join Date</th>
    <th>Order Quantity</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody *ngFor='let appUser of users; let i = index'>
  <tr>
    <td>
      <div class="d-flex align-items-center">
        <img
          src="https://mdbootstrap.com/img/new/avatars/{{i+1}}.jpg"
          alt=""
          style="width: 45px; height: 45px"
          class="rounded-circle"
        />
        <div class="ms-3">
          <p class="fw-bold mb-1">{{appUser.name}}</p>
          <p class="text-muted mb-0">{{appUser.email}}</p>
        </div>
      </div>
    </td>
    <td>
      <p class="fw-normal mb-1">{{appUser.username}}</p>
      <p class="text-muted mb-0" *ngFor="let role of appUser.roles">{{role.roleName}}</p>
    </td>
    <td>
      <p class="fw-normal mb-1">{{appUser.address}}</p>
    </td>
    <td>
      <p class="fw-normal mb-1">{{appUser.joinDate}}</p>
    </td>
    <td>
      <p class="fw-normal mb-1">{{appUser.orders.length}}</p>
    </td>
    <td>
      <span *ngIf="appUser.isActive" class="badge badge-success rounded-pill d-inline">active</span>
    </td>
    <td>
      <button type="button" class="btn btn-outline-primary ml-2" (click)="getUserByUsername(appUser.username)"><i class="fa fa-edit"></i></button>
      <button type="button" class="btn btn-outline-danger ml-2" (click)="deleteUserById(appUser.id)"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
  </tbody>
</table>

