<nav class="navbar navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Metric</a>
  </div>
</nav>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-group mb-0">
        <div class="card p-4">
          <div class="card-body">
            <h1>Login</h1>
            <p class="text-muted">Sign In to your account</p>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="fa fa-user"></i>&nbsp;&nbsp;</span>
              <input type="text" class="form-control" placeholder="Username" [(ngModel)]="loginRequest.username" >
            </div>
            <div class="input-group mb-4">
              <span class="input-group-addon"><i class="fa fa-lock"></i>&nbsp;&nbsp;</span>
              <input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginRequest.password" >
            </div>
            <div class="row">
              <div class="col-6">
                <button type="button" class="btn btn-primary px-4" (click)="onLogin()">Login</button>
              </div>
              <div class="col-6 text-right">
                <button type="button" class="btn btn-link px-0">Forgot password?</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
          <div class="card-body text-center">
            <div>
              <h2>Sign up</h2>
              <p>Metric e-ticaret hesabın henüz yok mu ? Sen de hemen şimdi üye olarak Metric'in eşsiz dünyasında kendine yer bulabilirsin.</p>
              <button type="button" class="btn btn-primary active mt-3" [routerLink]="['/register']">Register Now!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!--
<div class="col-xl-6">
  <form role="form">
    <div class="form-group">
      <label for="username">Username:</label> <input type="text"
                                                     class="form-control" id="username" name="username" [(ngModel)]="loginRequest.username"/>
    </div>
    <div class="form-group">
      <label for="password">Password:</label> <input type="password"
                                                     class="form-control" id="password" name="password" [(ngModel)]="loginRequest.password"/>
    </div>
    <button (click)="login()" type="submit" class="btn btn-primary">Submit</button>


  </form>
  <a class="nav-link" [routerLink]="['/register']">Create an account?</a>


</div>


-->
